/* @import, quando existem, devem ser o primeiro item de um arquivo CSS*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Definição de variáveis*/
:root{
    --cor-primaria: #550000;
    --cor-secundaria: #FF7F2A;
    --cor-secundaria-clara: #FFAF7B;
    --cor-fundo-clara: #DDDDDD;
    --cor-fundo-escura: #BBBBBB;
    --cor-texto-claro: #FFFFFF;
    --cor-texto-escura: #777777;
}

/*CSS reset*/
*{ /*Todos os Elementos*/
    padding: 0;
    margin: 0;
    /*exemplo de família de fonte sem serifa*/
    /*font-family: Calibri, Arial, sans;*/ /* Ordem de preferência das fontes */

    /*exemplo de família de fonte com serifa*/
    /*font-family: Georgia, 'Times New Roman' serif;*/

    /*exemplo de família de fonte MONOESPAÇADA*/
    /*font-family: Consolas, 'Courier New', monospace;*/
    
    /*Família de fontes da web (webfonts)*/
    font-family: Raleway, Calibri, Arial, sans;
    font-size: 16px;
}

html{ 
    font-size: 16px; /*tamanho de fonte padrão do documento*/
}

/*Configuração de todos os links do site*/
a{
    color: var(--cor-primaria);
    text-decoration: none; /*sem sublinhado*/
}

a:hover{ /*mouse passando em cima do link*/
    color: var(--cor-secundaria);
    text-decoration: underline; /*volta o sublinhado*/
}

header{
    background-color: var(--cor-primaria);
    padding: 10px 20px;
}

nav ul li{
    display: inline-block;
    margin: 10px;
}

nav{
    background-color: var(--cor-secundaria); /* Cor do fundo */
    color: var(--cor-texto-claro); /* Cor do texto */
}

#content{
    background-color: var(--cor-fundo-escura);
    padding: 20px;
    /*este elemento e seus filhos usarão flexbox*/
    display: flex;
    flex-direction: row; /*Os filhos ficarão em linha*/
    
}

section{
    background-color: var(--cor-texto-claro);
    padding: 24px;
    margin-bottom: 20px;
    border-radius: 10px;/*Bordas arredondadas*/
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);/*sombra (drop-down shadow) horizontal, vertical, esfumaçamento . RGBA(último número é transparência - canal alfa)*/
    flex-grow: 1; /*1 unidade de largura (padrão)*/
}

#principal{
    width: 75%;
}
#secundario{
    margin-left: 20px;
    background-color: var(--cor-fundo-clara);
    width: 25%;
} 
section article{/* article que estão dentro uma section*/
    margin: 24px 0; /*24px top/bottom, 0 left-right*/
}

section > h1{ /*apenas os h1 que são filhos diretos de section*/
    text-transform: uppercase; /*deixa o texto em maiúsculas*/
    color: var(--cor-secundaria);
}

article > h1{ /* só os h1 que são filhos diretos de article*/
    font-size: 1.5rem;
    margin-bottom: 6px;
}

article > h1 > a{
    font-size: 1.5rem;
}

article > p{
    color: var(--cor-texto-escura);
}

article > h2{
    font-size: 0.8rem;
    text-transform: uppercase; /* Todas as letras em maiúsculas */
}

.destaque{
    background-color: var(--cor-secundaria-clara);
    padding: 24px;
    border-radius: 4px /*bordas levemente arredondadas*/;
}

.destaque p{
    color: #000000;
    font-size: 1.5rem;
}

.destaque > h1 > a{
    font-size: 2.5rem;
}

.destaque > h2{
    font-size: 1rem;
}

.destaque img{
    width: 450px;
    margin-right: 24px;
    border-radius: 4px;
}

.foto-texto{
    display: flex;
    flex-direction: row;
}

#secundario > aside > img{
    display: block;
    margin: 0 auto; /* margin auto à esquerda e à direta centraliza o elemento*/
}

#secundario > aside > h1 > a{
    font-size: 1rem;
    color: #000000;
}

